<div class="card">
	<div class="card-body card-padding">
    	<small ng-show="phase < 6 && active">
        The Guess Phase is not yet complete.
    	</small>
	    <div class="card-header" ng-show="phase >= 6 || !active">
	        <h3>Game Outcome: <strong>{{ outcome | outcomeFilter }}</strong></h3>
	        <h3>Your New Smarts Rating: <strong>{{ smartsRating }}</strong></h3>
	        <h2>Actual Opponent Smart Rating: <strong>{{ opSmartsRating }}</strong> (You guessed {{ myGuess }})</h2>
	        <h2>Your Opponent’s Guess of Your Rating: <strong>{{ opGuess }}</strong> (Your rating was {{ oldSmartsRating }})</h2>
	    </div>
	    <small ng-show="!active">
            This game has been deactivated. This occurs when all phases are completed, a player resigns or a game times out.
        </small>
        <a ng-show="(phase >=6) && active" class="btn btn-primary btn-block bgm-bluegray" href="" ng-click="goToNextGame()">Next Game</a>
	</div>
</div>