<div class="card">
    <div class="card-header" ng-show="phase == 6">
        <h3>Game Outcome: <strong>TODO</strong></h3>
        <h3>Your New Smarts Rating: <strong>TODO</strong></h3>
        <h2>Actual Opponent Smart Rating: <strong>TODO</strong> (You guessed {{ myGuess }})</h2>
        <h2>Your Opponent’s Guess of Your Rating: <strong>{{ opGuess }}</strong> (Your rating was TODO)</h2>
    </div>
    <small ng-show="phase < 6">
        The Interview Phase is not yet complete.
    </small>
</div>