<div class="container">
    <div class="block-header">
        <h2>Luna Games</h2>
    </div>

    <div class="card m-b-0" id="messages-main">

        <div class="ms-menu" data-ng-class="{ 'toggled': lunaCtrl.lvMenuStat }">
            <div class="ms-block">
                <a class="btn btn-primary btn-block bgm-green" href="">New Game</a>
            </div>
            <div class="ms-block">
                <div class="dropdown" uib-dropdown>
                    <a class="btn btn-primary btn-block bgm-bluegray" href="" uib-dropdown-toggle>Current Games <i class="caret m-l-5"></i></a>

                    <ul class="dropdown-menu dm-icon w-100">
                        <li><a href="">Current Games</a></li>
                        <li><a href="">Past Games</a></li>

                    </ul>
                </div>
            </div>

            <div class="listview lv-user m-t-20">

                <div class="lv-item media active">
                    <div class="lv-avatar bgm-red pull-left">a</div>
                    <div class="media-body">
                        <div class="lv-title"><strong>Your Turn</strong></div>
                        <div class="lv-small">Response Phase</div>
                    </div>
                </div>

                <div class="lv-item media">
                    <div class="lv-avatar bgm-orange pull-left">m</div>
                    <div class="media-body">
                        <div class="lv-title">Their Turn</div>
                        <div class="lv-small">Question Phase</div>
                    </div>
                </div>

                <div class="lv-item media">
                    <div class="lv-avatar bgm-cyan pull-left">s</div>
                    <div class="media-body">
                        <div class="lv-title"><strong>Your Turn</strong></div>
                        <div class="lv-small">Guess Phase</div>
                    </div>
                </div>

                <div class="lv-item media">
                    <div class="lv-avatar bgm-purple pull-left">p</div>
                    <div class="media-body">
                        <div class="lv-title"><strong>Your Turn</strong></div>
                        <div class="lv-small">Response Phase</div>
                    </div>
                </div>
            </div>


        </div>
 
        <div class="ms-body">
            <section data-ui-view></section>
        </div>
    </div>
</div>
