<div class="container">
    <div class="block-header">
        <h2>Luna Games</h2>
    </div>

    <div class="card m-b-0" id="messages-main">

        <div class="ms-menu" data-ng-class="{ 'toggled': lunaCtrl.lvMenuStat }">
            <div class="ms-block">
                <a class="btn btn-primary btn-block bgm-green" href="">New Game</a>
            </div>
            <div class="ms-block">
                <div class="dropdown" uib-dropdown>
                    <a class="btn btn-primary btn-block bgm-bluegray" href="" uib-dropdown-toggle>Current Games <i class="caret m-l-5"></i></a>

                    <ul class="dropdown-menu dm-icon w-100">
                        <li><a href="">Current Games</a></li>
                        <li><a href="">Past Games</a></li>

                    </ul>
                </div>
            </div>

            <div class="listview lv-user m-t-20">

                <div class="lv-item media active">
                    <div class="lv-avatar bgm-red pull-left">a</div>
                    <div class="media-body">
                        <div class="lv-title"><strong>Your Turn</strong></div>
                        <div class="lv-small">Response Phase</div>
                    </div>
                </div>

                <div class="lv-item media">
                    <div class="lv-avatar bgm-orange pull-left">m</div>
                    <div class="media-body">
                        <div class="lv-title">Their Turn</div>
                        <div class="lv-small">Question Phase</div>
                    </div>
                </div>

                <div class="lv-item media">
                    <div class="lv-avatar bgm-cyan pull-left">s</div>
                    <div class="media-body">
                        <div class="lv-title"><strong>Your Turn</strong></div>
                        <div class="lv-small">Guess Phase</div>
                    </div>
                </div>

                <div class="lv-item media">
                    <div class="lv-avatar bgm-purple pull-left">p</div>
                    <div class="media-body">
                        <div class="lv-title"><strong>Your Turn</strong></div>
                        <div class="lv-small">Response Phase</div>
                    </div>
                </div>
            </div>


        </div>
 
        <div class="ms-body">
            <div class="listview lv-message">
                <div class="lv-header-alt clearfix">
                    <div id="ms-menu-trigger"  data-ng-class="{ 'open': lunaCtrl.lvMenuStat }" data-ng-click="lunaCtrl.lvMenuStat = (lunaCtrl.lvMenuStat===true ? false : true )">
                        <div class="line-wrap">
                            <div class="line top"></div>
                            <div class="line center"></div>
                            <div class="line bottom"></div>
                        </div>
                    </div>

                    <div class="lvh-label hidden-xs">
                        <div class="lv-avatar pull-left">
                            <div class="lv-avatar bgm-red pull-left">a</div>
                        </div>
                        <span class="c-black"><strong>Your Turn</strong></span>
                    </div>

                    <ul class="lv-actions actions">

                        <li class="dropdown" uib-dropdown>
                            <a href="" uib-dropdown-toggle aria-expanded="true">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Help</a>
                                </li>
                                <li>
                                    <a href="">Resign Game</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="lv-body">
                    <div class="card">
                        <div class="card-header">
                            <h2>Response Phase<small>Your opponent has sent you questions! Please answer the following questions to the best of your ability.
                    </small></h2>
                        </div>

                        <div class="card-body card-padding">
                            <form role="form">
                                <div class="form-group fg-line">
                                    <label for="exampleInputEmail1">How are you today?</label>
                                    <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter response">
                                </div>
                                <div class="form-group fg-line">
                                    <label for="exampleInputEmail1">Which is closer to you: Texas or the Moon?</label>
                                    <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter response">
                                </div>
                                <div class="form-group fg-line">
                                    <label for="exampleInputEmail1">What makes a successful CEO?</label>
                                    <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter response">
                                </div>
                                <div class="form-group fg-line">
                                    <label for="exampleInputEmail1">Why does poverty exist?</label>
                                    <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter response">
                                </div>
                                <div class="form-group fg-line">
                                    <label for="exampleInputEmail1">Identify the direct object in this sentence: The boy threw the ball to the dog.</label>
                                    <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter response">
                                </div>
                                
                                <button type="submit" class="btn btn-primary btn-sm m-t-10">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class="clearfix"></div> 
            </div>
        </div>
    </div>
</div>
