<div class="container">
    <div class="block-header">
        <h2>Luna Games</h2>
    </div>

    <div class="card m-b-0" id="messages-main">

        <div class="ms-menu" data-ng-class="{ 'toggled': lunaCtrl.lvMenuStat }">
            <div class="ms-block">
                <a class="btn btn-primary btn-block bgm-green" href="" ng-click="newGame()">New Game</a>
            </div>
            <div class="ms-block">
                <div class="dropdown" uib-dropdown>
                    <a class="btn btn-primary btn-block bgm-bluegray" href="" uib-dropdown-toggle>Current Games <i class="caret m-l-5"></i></a>

                    <ul class="dropdown-menu dm-icon w-100">
                        <li><a href="">Current Games</a></li>
                        <li><a href="">Past Games</a></li>

                    </ul>
                </div>
            </div>

            <div class="listview lv-user m-t-20">

                <div class="lv-item media" ng-repeat="game in games  | orderBy: '-updateDate'" data-ui-sref-active="active">
                    <a data-ui-sref="home.game({id: game._id})">
                        <div class="lv-avatar bgm-{{ game.color | colorName }} pull-left">{{ game.initial }} </div>
                        <div class="media-body">
                            <div ng-class="(game.turn) ? 'lv-emph' : 'lv-title'">{{ game.turn | turnMessage }}</div>
                            <div class="lv-small">{{ game.phase | phaseName }}</div>
                        </div>
                    </a>
                </div>
            </div>


        </div>
 
        <div class="ms-body">
            <section data-ui-view></section>
        </div>
    </div>
</div>
