<div class="card">
    <div class="card-header">
        <h2>Interview Phase<small>Please enter 5 questions for the other player.
</small></h2>
    </div>

    <div class="card-body card-padding">
        <form class="form-horizontal" role="form" ng-submit="submitQuestions()">
            <div class="form-group">
            	<div ng-repeat="n in N">
	                <label for="question{{ n }}" class="col-sm-1 control-label">{{ n+1 }}.</label>
	                <div class="col-sm-11">
	                    <div class="fg-line">
	                        <input type="text" class="form-control input-sm" ng-model="questions[n]" placeholder="Question {{ n+1 }}" ng-readonly="submitted">
	                    </div>
	                </div>
	            </div>
            </div>
            <div ng-show="!submitted">
	            <div class="form-group">
	                <div class="col-sm-offset-1 col-sm-11">
	                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
	                </div>
	            </div>
	        </div>
	        <div ng-show="phase == 1">
	            <h2><small>Waiting for opponent's interview...</small></h2>
	        </div>
	        <div ng-show="phase > 1">
	            <h2><small>The Interview Phase is complete. Click on Response to view the next phase.</small></h2>
	        </div>
        </form>
    </div>
</div>