<div class="container">

    <div class="card" id="profile-main">
        <div class="pm-overview c-overflow">
            <div class="pmo-pic">
                <div class="p-relative">
                    <a href="">
                        <div class="profile-avatar bgm-{{ myColor | colorName }} pull-left">{{ myInitial }} </div>
                    </a>
                </div>
                <form name="avatarSelects">
                    <div class="form-group">
                        <div class="fg-line">
                            <div class="select">
                                <select class="form-control" name="colorSelect" id="colorSelect" ng-options="option.name for option in colorData.availableOptions track by option.id" ng-model="colorData.selectedOption" ng-change="colorUpdate()"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="fg-line">
                            <div class="select">
                                <select class="form-control" name="initialSelect" id="initialSelect" ng-options="(option.name | uppercase) for option in initialData.availableOptions track by option.id" ng-model="initialData.selectedOption" ng-change="initialUpdate()"></select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="pmo-block pmo-contact hidden-xs">
                <ul>
                    <li><i class="zmdi zmdi-lamp"></i> Smarts Rating: {{ smartsRating }}</li>
                    <li><i class="zmdi zmdi-mood"></i> Luna Game Wins: {{ numWins }}</li>
                    <li><i class="zmdi zmdi-calendar"></i> Joined {{ joinDate | date:'longDate' }}</li>
                </ul>
            </div>
        </div>

        <div class="pm-body clearfix">
           <div class="pmb-block">
                <div class="pmbb-header">
                    <h2>Smarts Rating History</h2>
                    <small>Your Smarts Rating is an average of Guesses made by previous opponents.</small>
                </div>

                <div class="pmbb-body" ng-show="totalGames > 1">
                    <div class="chart-edge">
                        <div class="flot-chart" data-curvedline-chart></div>
                    </div>
                </div>
                <div ng-hide="totalGames">
                     After you play at least two games, you will be able to see a chart of your Smarts Rating history here.
                </div>
            </div>

            <div class="pmb-block">
                <div class="pmbb-header">
                    <div class="col-sm-6 col-md-3">
                        <div class="mini-charts-item bgm-cyan">
                            <div class="clearfix">
                                <div class="count">
                                    <small>Longest Winning Streak</small>
                                    <h2>{{ winningStreakRecord }} wins</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="mini-charts-item bgm-bluegray">
                            <div class="clearfix">
                                <div class="count">
                                    <small>Current Winning Streak</small>
                                    <h2>{{ winningStreak }} wins</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="mini-charts-item bgm-lightgreen">
                            <div class="clearfix">
                                <div class="count">
                                    <small>Highest Smarts Rating</small>
                                    <h2>{{ maxRating }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="mini-charts-item bgm-orange">
                            <div class="clearfix">
                                <div class="count">
                                    <small>Game Record</small>
                                    <h2>{{ totalGames ? numWins/totalGames: 1 | number:3 }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
