<div class="card">
    <div class="card-header">
        <h2>Response Phase<small>Your opponent has sent you questions! Please answer the following questions to the best of your ability.
</small></h2>
    </div>

    <div class="card-body card-padding">
        <form role="form">
            <div class="form-group fg-line">
                <label for="exampleInputEmail1">How are you today?</label>
                <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter response">
            </div>
            <div class="form-group fg-line">
                <label for="exampleInputEmail1">Which is closer to you: Texas or the Moon?</label>
                <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter response">
            </div>
            <div class="form-group fg-line">
                <label for="exampleInputEmail1">What makes a successful CEO?</label>
                <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter response">
            </div>
            <div class="form-group fg-line">
                <label for="exampleInputEmail1">Why does poverty exist?</label>
                <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter response">
            </div>
            <div class="form-group fg-line">
                <label for="exampleInputEmail1">Identify the direct object in this sentence: The boy threw the ball to the dog.</label>
                <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter response">
            </div>
            
            <button type="submit" class="btn btn-primary btn-sm m-t-10" ng-click="changePhase(phase+1)">Submit</button>
        </form>
    </div>
</div>