<div class="container">

    <div class="block-header">
        <h2>Tom Silver</h2>
    </div>

    <div class="card" id="profile-main" data-ng-controller="profileCtrl as pctrl">
        <div class="pm-overview c-overflow">
            <div class="pmo-pic">
                <div class="p-relative">
                    <a href="">
                        <img class="img-responsive" src="img/profile-pics/profile-pic-t.png" alt="">
                    </a>
                </div>
            </div>

            <div class="pmo-block pmo-contact hidden-xs">
                <ul>
                    <li><i class="zmdi zmdi-account-circle"></i> {{ pctrl.fullName }}</li>
                    <li><i class="zmdi zmdi-lamp"></i> Smarts Rating: {{ pctrl.smartsRating }}</li>
                    <li><i class="zmdi zmdi-mood"></i> Luna Game Wins: {{ pctrl.numWins }}</li>
                    <li><i class="zmdi zmdi-email"></i> {{ pctrl.emailAddress }}</li>
                    <li><i class="zmdi zmdi-calendar"></i> Joined {{ pctrl.joinDate | date:'longDate' }}</li>
                </ul>
            </div>
        </div>

        <div class="pm-body clearfix">
           <div class="pmb-block">
                <div class="pmbb-header">
                    <h2>Smarts Rating History</h2>
                    <small>Your Smarts Rating is an average of Guesses made by previous opponents.</small>

                    <ul class="actions">
                        <li>
                            <a href="">
                                <i class="zmdi zmdi-refresh-alt"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="zmdi zmdi-download"></i>
                            </a>
                        </li>
                        <li class="dropdown" uib-dropdown>
                            <a href="" uib-dropdown-toggle>
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Change Date Range</a>
                                </li>
                                <li>
                                    <a href="">Change Graph Type</a>
                                </li>
                                <li>
                                    <a href="">Other Settings</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="pmbb-body">
                    <div class="chart-edge">
                        <div class="flot-chart" data-curvedline-chart></div>
                    </div>
                </div>
            </div>

            <div class="pmb-block">
                <div class="pmbb-header">
                    <div class="col-sm-6 col-md-3">
                        <div class="mini-charts-item bgm-cyan">
                            <div class="clearfix">
                                <div class="count">
                                    <small>Longest Winning Streak</small>
                                    <h2>5 wins</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="mini-charts-item bgm-lightgreen">
                            <div class="clearfix">
                                <div class="count">
                                    <small>Highest Smarts Rating</small>
                                    <h2>90</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="mini-charts-item bgm-orange">
                            <div class="clearfix">
                                <div class="count">
                                    <small>Winning Percentile</small>
                                    <h2>80%</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="mini-charts-item bgm-bluegray">
                            <div class="clearfix">
                                <div class="count">
                                    <small>Smarts Rating Percentile</small>
                                    <h2>85%</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
