<div class="card">
	<div class="card-body card-padding">
    	<small ng-show="phase < 6 && active">
        The Guess Phase is not yet complete.
    	</small>
	    <div class="card-header" ng-show="(phase >= 6 || !active) && (!isNew)">
	        <h3>Game Outcome: <strong>{{ outcome | outcomeFilter }}</strong></h3>
	        <h3>Your New Smarts Rating: <strong>{{ smartsRating | number:2 }}</strong></h3>
	        <h2 ng-show="opSmartsRating">Actual Opponent Smart Rating: <strong>{{ opSmartsRating | number:2 }}</strong> (You guessed {{ myGuess }})</h2>
	        <h2 ng-hide="opSmartsRating">Actual Opponent Smart Rating: <strong>not set</strong> (You guessed {{ myGuess }})</h2>
	        <h2 ng-show="oldSmartsRating">Your Opponent’s Guess of Your Rating: <strong>{{ opGuess }}</strong> (Your rating was {{ oldSmartsRating | number:2 }})</h2>
	        <h2 ng-hide="oldSmartsRating">Your Opponent’s Guess of Your Rating: <strong>{{ opGuess }}</strong> (Your rating was not set)</h2>
	        <strong ng-show="opMachine" style="color: red;">Your opponent was a machine! Machine Guesses are not factored into your Smarts Rating.</strong>
	    </div>
	    <div class="card-header" ng-show="(phase >= 6 || !active) && isNew">
	        <h3>Game Outcome: <strong>You win!</strong></h3>
	        <h3>Your New Smarts Rating: <strong>{{ smartsRating | number:2 }}</strong></h3>
	        <h2 ng-show="opSmartsRating">Actual Opponent Smart Rating: <strong>{{ opSmartsRating | number:2 }}</strong> (You guessed {{ myGuess }})</h2>
	        <h2 ng-hide="opSmartsRating">Actual Opponent Smart Rating: <strong>not set</strong> (You guessed {{ myGuess }})</h2>
	        <h2 ng-show="oldSmartsRating">Your Opponent’s Guess of Your Rating: <strong>{{ opGuess }}</strong> (Your rating was {{ oldSmartsRating | number:2 }})</h2>
	        <h2 ng-hide="oldSmartsRating">Your Opponent’s Guess of Your Rating: <strong>{{ opGuess }}</strong> (Your rating was not set)</h2>
	        <strong style="color: red;">Since this was your first game, you automatically won. In future games, the winner will be determined based on the proximity of Guesses to actual Smarts Ratings.</strong>
	        <strong ng-show="opMachine" style="color: red;">Your opponent was a machine! Machine Guesses are not factored into your Smarts Rating.</strong>
	    </div>
	    <small ng-show="!active">
            This game has been deactivated. This occurs when all phases are completed, a player resigns or a game times out.
        </small>
        <a ng-show="(phase >=6) && active" class="btn btn-primary btn-block bgm-bluegray" href="" ng-click="goToNextGame()">Next Game</a>
	</div>
</div>