<div class="listview lv-message">
    <div class="lv-header-alt clearfix" style="border-bottom: 2px solid #fff;">
        <div id="ms-menu-trigger"  data-ng-class="{ 'open': lunaCtrl.lvMenuStat }" data-ng-click="lunaCtrl.lvMenuStat = (lunaCtrl.lvMenuStat===true ? false : true )">
            <div class="line-wrap">
                <div class="line top"></div>
                <div class="line center"></div>
                <div class="line bottom"></div>
            </div>
        </div>

        <div class="lvh-label hidden-xs">
            <div class="lv-avatar pull-left">
                <div class="lv-avatar bgm-{{ gameColor | colorName }} pull-left">{{ gameInitial }}</div>
            </div>
            <span class="c-black" ng-show="active">{{ turn | turnMessage }}</span>
            <span class="c-black" ng-show="!active">Game Complete</span>
        </div>

        <ul class="lv-actions actions">

            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle aria-expanded="true">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ui-sref="home.help">Help</a>
                    </li>
                    <li>
                        <a href="" ng-click="deactivateGame()">Resign Game</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="lv-body">
        <div class="pm-body clearfix">
            <ul class="tab-nav tn-justified" data-ng-include="'template/game-menu.html'"></ul>

            <data ui-view></data>
        </div>
    </div>
    
    <div class="clearfix"></div> 
</div>