<div class="container">
    <div class="card m-b-0" id="messages-main">

        <div class="ms-menu" data-ng-class="{ 'toggled': lunaCtrl.lvMenuStat }">
            <div class="ms-block" style="padding-top: 10px;">
                <h4 class="lead" style="font-size: 18px;">Smarts Rating: {{ playerStats.smartsRating | ratingFilter }}</h4>
                <h4 class="lead" style="font-size: 18px;">Game Wins: {{ playerStats.gameWins }}</h4>
            </div>
            <hr style="margin: 5px;">
            <div class="ms-block" style="padding-top: 10px;">
                <a class="btn btn-primary btn-block bgm-green" href="" ng-click="newGame()">New Game</a>
            </div>
            <hr style="margin-bottom: 0px;">
            <div class="listview lv-user m-t-20" style="max-height: 300px; overflow-y: scroll;">
                <p style="text-align:center; font-size: 10px; text-transform:uppercase;">{{ currentOrPast }} Games</p>

                <div class="lv-item media" ng-repeat="game in games  | orderBy: '-updateDate'" data-ui-sref-active="active">
                    <a data-ui-sref="home.game({id: game._id})"  ui-sref-opts="{reload: 'home.game'}">
                        <div class="lv-avatar bgm-{{ game.color | colorName }} pull-left">{{ game.initial }} </div>
                        <div class="media-body">
                            <div ng-class="(game.turn) ? 'lv-emph' : 'lv-title'" ng-show="game.active">{{ game.turn | turnMessage }}</div>
                            <div class="lv-title" ng-hide="game.active">Game Complete</div>
                            <div class="lv-small">{{ game.phase | phaseName }}</div>
                        </div>
                    </a>
                </div>

                <a class="lv-item media" ng-click="getPastGames()" ng-show="currentOrPast=='Current'" style="text-align:center; font-size: 10px; text-transform:uppercase; cursor:pointer;">Show Past Games</a>

                <a class="lv-item media" ng-click="getCurrentGames()" ng-show="currentOrPast=='Past'" style="text-align:center; font-size: 10px; text-transform:uppercase; cursor:pointer;">Show Current Games</a>
            </div>


        </div>
 
        <div class="ms-body">
            <section data-ui-view autoscroll="false"></section>
        </div>
    </div>
</div>
