<div class="card" ng-class="{'col-sm-6': o.oldQuestionsActive, 'col-sm-12': !o.oldQuestionsActive}">
    <div class="card-header">
        <h2>Interview Phase<small>Please enter {{ N.length }} questions for the other player.
		</small></h2>
		<button ng-hide="isNew" data-ui-sref="home.game.interview.oldquestions({ id: gameID })" class="btn btn-primary btn-xs bgm-bluegray" style="margin-top: 5px;" ng-show="!submitted && active">Select from previous questions</button>
    </div>

    <div class="card-body card-padding">
        <form class="form-horizontal" role="form" ng-submit="submitQuestions()">
            <div class="form-group">
	        	<div ng-repeat="n in N" class="row">
                	<label for="question{{ n }}" class="col-sm-1 control-label" >
                		<i class="zmdi zmdi-triangle-up" ng-click="upShift(n)" style="cursor:pointer;" ng-show="!submitted && active"></i><i class="zmdi zmdi-triangle-down" ng-click="downShift(n)" style="cursor:pointer;" ng-show="!submitted && active"></i>
                	</label>
	                <div class="col-sm-10">
	                    <div class="fg-line">
	                        <input type="text" class="form-control" ng-model="questions[n]" placeholder="Question {{ n+1 }}" ng-readonly="submitted || !active" ng-minlength="1" required>
	                    </div>
	                </div>
	                <div class="col-sm-1">
	                	<i class="zmdi zmdi-close" ng-click="eraseQuestion(n)" style="cursor:pointer;" ng-show="!submitted && active"></i>
	                </div>
	            </div>
	        </div>
            <div ng-show="!submitted && active">
	            <div class="form-group" style="padding-top:10px;">
	                <div class="col-sm-offset-1 col-sm-11">
	                    <button type="submit" class="btn btn-primary btn-sm bgm-green">Submit</button>
	                </div>
	            </div>
	        </div>
	        <div ng-show="(phase <= 1) && (submitted && active)">
	            <h2><small>Waiting for opponent's interview...</small></h2>
	            <a class="btn btn-primary btn-block bgm-bluegray" href="" ng-click="goToNextGame()">Next Game</a>
	        </div>
	        <div ng-show="(phase > 1) && active">
	            <h2><small>The Interview Phase is complete. Click on Response to view the next phase.</small></h2>
	        </div>
	        <div ng-show="!active">
	            <h2><small>This game has been deactivated. This occurs when all phases are completed, a player resigns or a game times out.</small></h2>
	        </div>
        </form>
    </div>
</div>

<data ui-view></data>