<div class="row" style="padding: 3%;">
  <div class="col-sm-4 col-sm-offset-1" id="home-title">
      <div>
        <h2 style="font-size: 48px;">Luna</h2>
      </div>
      <h3 class="lead">Play games to test your smarts</h3>
      <h3 class="lead">Judge the smarts of other players</h3>
      <h3 class="lead">Help steer research in Artificial Intelligence</h3>
  </div>

   <div class="col-sm-4 col-sm-offset-1" style="padding-top: 3%;">

    <div class="row media">
      <button data-ui-sref="login" class="btn btn-lg btn-block bgm-green">Login</button>
    </div>
    <div class="row media">
      <button ng-click="proceedAsSignUp()" class="btn btn-lg btn-block bgm-teal">Sign Up</button>
    </div>    
    <div class="row media">
      <button ng-click="proceedAsGuest()" class="btn btn-lg btn-block bgm-lime">Play as Guest</button>
    </div>
    <div class="row media">
      <button data-ui-sref="about" class="btn btn-lg btn-block bgm-red">Learn More</button>
    </div>
  </div>
</div>