<div class="listview lv-message">
    <div class="lv-header-alt clearfix">
        <div id="ms-menu-trigger"  data-ng-class="{ 'open': lunaCtrl.lvMenuStat }" data-ng-click="lunaCtrl.lvMenuStat = (lunaCtrl.lvMenuStat===true ? false : true )">
            <div class="line-wrap">
                <div class="line top"></div>
                <div class="line center"></div>
                <div class="line bottom"></div>
            </div>
        </div>

        <div class="lvh-label hidden-xs">
            <span class="c-black"><strong>Welcome to the Luna Rating System</strong></span>
        </div>
    </div>

    <div class="lv-body">
        <div class="card">
            <div class="row card-header">
                <div class="col-sm-12">
                    <h2 style="text-align:center;">Welcome back!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-4 col-sm-4" style="padding: 5px;">
                    <button ng-click="goToNextGame()" class="btn btn-primary btn-block bgm-green">I'm ready to play</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-4 col-sm-4" style="padding: 5px;">
                    <button data-ui-sref="home.strategy" autoscroll='true' class="btn btn-primary btn-block bgm-bluegray">Tell me about strategy</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-4 col-sm-4" style="padding: 5px;">
                    <button data-ui-sref="home.testForAI" autoscroll='true' class="btn btn-primary btn-block bgm-deeporange">How is this a test for AI?</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="clearfix"></div> 
</div>