 <div class="col-sm-4 col-sm-offset-4">

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="register()"
    style="margin-top:30px;">
    <h3>Sign Up | <a data-ui-sref="login">Log In</a></h3>
    <p ng-show="isGuest()">Your progress will be saved.</p>

    <div class="form-group">
      <input type="email"
      class="form-control"
      placeholder="Email"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Enter a Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
</div>