<div class="listview lv-message">
    <div class="lv-header-alt clearfix">
        <div id="ms-menu-trigger"  data-ng-class="{ 'open': lunaCtrl.lvMenuStat }" data-ng-click="lunaCtrl.lvMenuStat = (lunaCtrl.lvMenuStat===true ? false : true )">
            <div class="line-wrap">
                <div class="line top"></div>
                <div class="line center"></div>
                <div class="line bottom"></div>
            </div>
        </div>

        <div class="lvh-label hidden-xs">
            <span class="c-black"><strong>Welcome to the Luna Rating System</strong></span>
        </div>
    </div>

    <div class="lv-body">
        
        <div class="card">

            <div class="card-header">
                <h2>Luna Game Hints and Strategy</h2>
            </div>

            <div class="card-body card-padding">

                <p class="lead">Interview Phase</p>

                <ol>
                    <li><p>Your questions should be as informative as possible for guessing the other player’s Smarts Rating.</p></li>
                    <li><p>Your questions should have a very wide range of difficulties.</p></li>
                    <li><p>Your questions need not have &ldquo;right&rdquo; or &ldquo;wrong&rdquo; answers.</p></li>
                    <li><p>The other player can use a search engine, so trivia questions will not be very informative.</p></li>
                    <li><p>Your questions can build on each other, so order may be important.</p></li>
                    <li><p>Do not assume that the other player is human!</p></li>
                </ol>

                <p class="lead">Response Phase</p>

                <ol>
                    <li><p>You should answer the questions to the best of your ability.</p></li>
                    <li><p>The other player will use your answers to guess your Smarts Rating.</p></li>
                    <li><p>The higher the other player guesses, the higher your Smarts Rating will become.</p></li>
                </ol>

                <p class="lead">Guess Phase</p>

                <ol>
                    <li><p>You should think of a Smarts Rating of 0 as displaying no signs whatsoever of intelligence.</p></li>
                    <li><p>You should think of a Smarts Rating of 100 as genius.</p></li>
                    <li><p>Again: Do not assume that the other player is human!</p></li>
                </ol>

                <div class="row">
                    <div class="col-sm-4" style="padding: 5px;">
                        <button data-ui-sref="home.new" class="btn btn-primary btn-block bgm-green">I'm ready to play</button>
                    </div>
                    <div class="col-sm-4" style="padding: 5px;">
                        <button data-ui-sref="about" class="btn btn-primary btn-block bgm-bluegray">About</button>
                    </div>
                    <div class="col-sm-4" style="padding: 5px;">
                        <button data-ui-sref="testForAI" class="btn btn-primary btn-block bgm-deeporange">How is this a test for AI?</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="clearfix"></div> 
</div>