<ul class="header-inner clearfix">

    <li class="logo hidden-xs">
        <a ng-show="isLoggedIn()" data-ui-sref="home.new">Luna
        </a>
        <a ng-hide="isLoggedIn()" data-ui-sref="landing">Luna
        </a>
    </li>

    <li class="pull-right">
        <ul class="top-menu" ng-show="isLoggedIn()">

            
            <li class="dropdown" ng-click="hideNotifications()" uib-dropdown>
                <a uib-dropdown-toggle href="">
                    <i class="tm-icon zmdi zmdi-notifications"></i>
                    <i class="tmn-counts" ng-show="notifiedGamesCount && !silenceNotifs">{{ notifiedGamesCount }}</i>
                </a>
                <div class="dropdown-menu dropdown-menu-lg stop-propagate pull-right">
                    <div class="listview" id="notifications">
                        <div class="lv-header">
                            Your Turn
                        </div>
                        <div class="lv-body">
                            <div class="lv-item" ng-repeat="game in notifiedGames" data-ui-sref="home.game({id : game._id})" ui-sref-opts="{reload: true}" style="cursor: pointer;">
                                <div class="lv-title m-b-5">{{ game.phase | phaseName }}</div>
                                <div class="progress">
                                    <div ng-class="'progress-bar bgm-{{ game.color | colorName }}'" role="progressbar" aria-valuenow="{{ game.phase | phasePerc }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ game.phase | phasePerc }}%">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <a class="lv-footer" ng-click="clearNotifications()">Clear</a>
                    </div>

                </div>
            </li>
            
            <li class="dropdown" uib-dropdown>
                <a uib-dropdown-toggle href="">
                    <i class="tm-icon zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu dm-icon pull-right">
                    <li>
                        <a data-ui-sref="home.new"><i class="zmdi zmdi-home"></i> Home</a>
                    </li>
                    <li>
                        <a data-ui-sref="profile"><i class="zmdi zmdi-settings"></i> Account</a>
                    </li>
                    <li>
                        <a ng-click="logOut()"><i class="zmdi zmdi-sign-in"></i> Sign Out</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<ul ng-show="(isGuest()) && isLoggedIn()" class="header-inner clearfix bgm-white" style="margin: -12px; padding: 2px; text-align: center;">
    You are playing as a guest. <a data-ui-sref="registerGuest">Sign Up</a> to save your progress. <a href="" ng-click="logOut()">Sign Out</a> to erase your progress.
</ul>